/* src/style.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* 简单的全局暗色滚动条微调（可选） */
::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-track {
  background: #020617; /* slate-950 */
}
::-webkit-scrollbar-thumb {
  background: #1e293b; /* slate-800 */
  border-radius: 3px;
}
::-webkit-scrollbar-thumb:hover {
  background: #334155; /* slate-700 */
}